.hidden {
  display: none;
}

body {
  height: 100vh;
  width: 100vw;
  background-repeat : no-repeat;
  background-size : cover;
}

#weather-container {
  position: absolute;
  text-align: center;
  left: 45%;
  top: 4%;
  color:rgb(255, 255, 255);
  font-size:larger;
  font-weight: bold;
  text-shadow:-1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}

#contain {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 5vh;
  border-radius: 40px 80px;
  position: absolute;
  width: 40%;
  height: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: x-large;
}

#greeting {
  font-size:x-large;
}

input {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 200px;
  text-align: center;
  background-color: transparent;
}

input::-webkit-input-placeholder {
  color: rgb(0, 0, 0);
  font-style: italic;
  font-weight: bolder;
}

li {
  list-style: none;
}

ul {
  height: 40%;
  overflow: auto;
  font-size: large;
}

button {
  background-color:#0a0a23;
  color: #fff;
  border:none;
  border-radius:10px;
}